<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Edit Alarm</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides #slides>
    <ion-slide>
      <h1>
        <ion-icon name="hourglass-outline"></ion-icon>
        <br />
        Sorry
        <br />
        Update soon
      </h1>
    </ion-slide>
  </ion-slides>
</ion-content>