<ion-header>
  <ion-toolbar color={{toolbarColor}}>
    <ion-title class="ion-text-center">{{headerTitle | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        {{'Cancel' | translate}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveAndDismissModal()" [disabled]="time==undefined ? true : false">
        {{'Save' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides>
    <ion-slide>
      <ion-list>
        <h1>
          <ion-icon name="alarm-outline"></ion-icon>
        </h1>
        <ion-item>
          <ion-label>{{'Title' | translate}}</ion-label>
          <ion-input clearInput class="ion-text-end" type="text" [(ngModel)]="title" placeholder={{titlePlaceholder}}>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{'Content' | translate}}</ion-label>
          <ion-input clearInput class="ion-text-end" type="text" [(ngModel)]="content" placeholder={{titlePlaceholder}}>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{'Timer on' | translate}}</ion-label>
          <ion-datetime display-format="h:mm A" placeholder="_" picker-format="h:mm A" [(ngModel)]="time">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{'Weekday' | translate}}</ion-label>
          <ion-select class="ion-text-end" style="font-size: 14px" multiple="true"
            placeholder={{weekdayPlaceholder.toString()}} [(ngModel)]="weekday">
            <ion-select-option *ngFor="let day of weekdays; let i=index" value={{i}}>
              {{day | translate}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item-divider></ion-item-divider>

        <ion-item>
          <ion-label>{{'Status' | translate}}</ion-label>
          <ion-select interface="action-sheet" placeholder={{statusValue.name}} [(ngModel)]="statusValue">
            <ion-select-option *ngFor="let value of statusArray" [value]="value">
              {{value.name | translate}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-slide>





    <ion-slide>
      <ion-list>
        <h1>
          <ion-icon name="timer-outline"></ion-icon>
        </h1>
        <ion-item>
          <ion-label>{{'Title' | translate}}</ion-label>
          <ion-input clearInput class="ion-text-end" type="text" [(ngModel)]="title" placeholder={{titlePlaceholder}}>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{'Content' | translate}}</ion-label>
          <ion-input clearInput class="ion-text-end" type="text" [(ngModel)]="content" placeholder={{titlePlaceholder}}>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{'Timer on' | translate}}</ion-label>
          <ion-datetime display-format="h:mm A" placeholder="_" picker-format="h:mm A" [(ngModel)]="time">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>{{'Work time' | translate}}</ion-label>
          <ion-input class="ion-text-center" type="number" [(ngModel)]="workTime">
          </ion-input>
          <ion-range min="0" max="60" step="5" snaps="true" color="primary" [(ngModel)]="workTime"
            (ionFocus)="lockSwipes(true)" (ionBlur)="lockSwipes(false)">
          </ion-range>
        </ion-item>


        <ion-item>
          <ion-label>{{'Break time' | translate}}</ion-label>
          <ion-input class="ion-text-center" type="number" [(ngModel)]="breakTime">
          </ion-input>
          <ion-range min="0" max="60" step="5" snaps="true" color="danger" [(ngModel)]="breakTime"
            (ionFocus)="lockSwipes(true)" (ionBlur)="lockSwipes(false)">
          </ion-range>
        </ion-item>

        <ion-item-divider></ion-item-divider>

        <ion-item>
          <ion-label>{{'Count for Break' | translate}}</ion-label>
          <ion-input class="ion-text-center" type="number" [(ngModel)]="breakCount">
          </ion-input>
          <ion-range min="0" max="10" step="1" snaps="true" color="danger" [(ngModel)]="breakCount"
            (ionFocus)="lockSwipes(true)" (ionBlur)="lockSwipes(false)">
          </ion-range>
        </ion-item>

        <ion-item>
          <ion-label>{{'Timer off' | translate}}</ion-label>
          <ion-datetime display-format="h:mm A" placeholder="{{'Option' | translate}}" picker-format="h:mm A"
            [(ngModel)]="timerOff">
          </ion-datetime>
        </ion-item>

        <ion-item-divider></ion-item-divider>

        <ion-item>
          <ion-label>{{'Status' | translate}}</ion-label>
          <ion-select interface="action-sheet" placeholder={{statusValue.name}} [(ngModel)]="statusValue">
            <ion-select-option *ngFor="let value of statusArray" [value]="value">
              {{value.name | translate}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tab-bar>
      <ion-tab-button tab="schedule" (click)='next(slides, 0)'>
        <ion-icon name="alarm-outline"></ion-icon>
        <ion-label>Push</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Break Timer" (click)='next(slides, 1)'>
        <ion-icon name="timer-outline"></ion-icon>
        <ion-label>Break Timer</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer>