<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Setting Option</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<br />
<ion-button color="warning" (click)="changeReorderToggle()">
  Sotable<ion-icon name="swap-vertical-outline"></ion-icon>
</ion-button>
<br />

<br />
<ion-button (click)="getPending()">
  pending
</ion-button>
<br />

<br />
<ion-button color="danger" (click)="clear()">
  clear
</ion-button>
<br />