<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Setting Option</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div>
  <ion-item color="medium">
    <ion-label>Select Theme</ion-label>
  </ion-item>

  <ion-select color="light" class="selectTheme" [interfaceOptions]="customPopoverOptions" interface="popover"
    [(ngModel)]="selectTheme" (ionChange)="dynamicTheme()">
    <ion-select-option [value]="theme.class" *ngFor="let theme of themeColor;let i = indexs">
      {{theme.name}}
    </ion-select-option>
  </ion-select>
</div>

<br />
<ion-button color="warning" (click)="changeReorderToggle()">
  Sotable<ion-icon name="swap-vertical-outline"></ion-icon>
</ion-button>
<br />

<br />
<ion-button (click)="getPending()">
  pending
</ion-button>
<br />

<br />
<ion-button color="danger" (click)="clear()">
  clear
</ion-button>
<br />