<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="editSettingOption()">
        <ion-icon name="build-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Push-bell
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettingAlarmModal()">
        <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-reorder-group (ionItemReorder)="onItemReorder($event)" [disabled]="reorderToggle">
    <ion-card *ngFor="let dataList of storageData">
      <ion-reorder>
        <ion-item>
          <ion-icon *ngIf="dataList[0].extra.workTime == 0" name="alarm-outline"
              slot="start"></ion-icon>
          <ion-icon *ngIf="dataList[0].extra.workTime != 0" name="timer-outline"
              slot="start"></ion-icon>
          <ion-label>{{dataList[0].title}}</ion-label>

          <ion-button fill="outline" slot="end" (click)="editSettingAlarmModal()">Edit
          </ion-button>
          <ion-button fill="outline" color="danger" slot="end"
              (click)="removeAlarm(dataList[0].extra.key)">Del
          </ion-button>
        </ion-item>

          <ion-card-content style="padding-bottom: 0.6rem;">
          <b>{{dataList[0].schedule.on.hour}}:{{dataList[0].schedule.on.minute
            < 10 ? '0' : ''}}{{dataList[0].schedule.on.minute}}
          </b>

          <b *ngIf="dataList[0].extra.breakTime">
            - {{dataList[0].extra.timerOff.getHours()}}:{{dataList[0].extra.timerOff.getMinutes()
            < 10 ? '0' : ''}}{{dataList[0].extra.timerOff.getMinutes()}}
            <br/>
          </b>
        </ion-card-content>

        <ion-card-content style="padding-top:0px; padding-right:2px">
          <div class="ion-margin-bottom">
            {{dataList[0].body}}
          </div>

          <ion-col *ngFor="let data of dataList">
            <ion-chip *ngIf="dataList[0].extra.workTime == 0" color="dark">
              {{weekdays[data.schedule.on.weekday].slice(0,3).toUpperCase()}}
            </ion-chip>
          </ion-col>
          
          <ion-chip *ngIf="dataList[0].extra.workTime" outline color="primary">
            Work: {{dataList[0].extra.workTime}}m
          </ion-chip>

          <ion-chip *ngIf="dataList[0].extra.breakTime" outline color="danger">
            Rest: {{dataList[0].extra.breakTime}}m
          </ion-chip>

          <ion-chip *ngIf="dataList[0].extra.breakCount" outline color="danger">
            Count: {{dataList[0].extra.breakCount}}
          </ion-chip>
        </ion-card-content>
      </ion-reorder>
    </ion-card>
  </ion-reorder-group>

  <ion-card *ngIf="storageData.length == 0">
    <ion-slide (click)="openSettingAlarmModal()">
      <h1>
        <ion-icon name="alarm-outline"></ion-icon>
      </h1>
    </ion-slide>
  </ion-card>
</ion-content>

<ion-button color="warning" (click)="getPending()">Pending</ion-button>
<ion-button color="danger" (click)="clear()">Clear</ion-button>
<ion-button color="primary" (click)="viewStorageData()">Refresh</ion-button>