ion-col {
    padding: 0px;
}

ion-button {
    margin-left:5px;
}

ion-chip {
    padding: 6px;
    margin: 2px;
}

.deactivatedIonCard {
    background: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
    .deactivatedIonCard {
        background: #000000;
    }
}