ion-col {
    padding: 0px;
}

ion-button {
    margin-left:5px;
}

ion-chip {
    padding: 6px;
    margin: 2px;
}

body.default .deactivatedIonCard {
    --ion-card-background: #1c1c1d;
}

body.dark-theme.deactivatedIonCard {
    --ion-card-background: #000000;
    --ion-item-background: #4e4e4e;
}